[Unit]
Description=NTPD service file for a VRF enviornment.

[Service]
EnvironmentFile=/run/ntp/vrf/%i/%i.env
SyslogIdentifier=ntpd: [%i] 
ExecStart=/usr/sbin/chvrf $VRFName /usr/sbin/ntpd -p /run/ntp/vrf/%i/ntp.pid -g -n $NTPD_CONF_FILE

[Install]
WantedBy=multi-user.target
